.address {
  padding-top: 20px;
}

.input {
  width: 100%;
  background-color: rgb(230, 228, 228);
  border: none;
  height: 30px;
}

.address-input-toggle {
  padding-top: 10px;
  text-decoration: underline;
}

.address-input-toggle:hover{
  cursor: pointer;
}

.address-error {
  margin: 10px 0px 10px 0px;
  width: 50%;
}

.address-button {
  background-color: rgb(29, 29, 29); /* Green */
  border: none;
  color: white;
  height: 30px;
  padding: 0px 20px 0px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.address-gift {
  margin: 20px 0px 10px 0px;
  line-height: 0.6;
  padding-left: 0px;
}