.collect-button, .collect-search {
  background-color: rgb(29, 29, 29);
  color: white;
  border: none;
}

.collect {
  padding-top: 20px;
}

.collect-input {
  background-color: rgb(230, 228, 228);
  border: none;
  height: 30px;
}

.collect-error {
  margin: 10px 0px 10px 0px;
  width: 100%;
}